<div class="container mt-3">
  <h1>{{getTitulo()}}</h1>
  <form>
    <div class="form-group mb-3">
      <label for="operando_a" class="form-label">Operando A</label>
      <input type="number" class="form-control" id="operando_a" [(ngModel)]='operandoA' name="operandoA">
    </div>
    <div class="form-group mb-3">
      <label for="operando_b" class="form-label">Operando B</label>
      <input type="number" class="form-control" id="operando_b" [(ngModel)]='operandoB' name="operandoB">
    </div>
    <div class="d-flex justify-content-around align-items-center">
      <button type="button" class="btn btn-primary" (click)="sumar()">Sumar</button>
      <button type="button" class="btn btn-danger" (click)="restar()">Restar</button>
      <button type="button" class="btn btn-warning" (click)="multiplicar()">Multiplicar</button>
      <button type="button" class="btn btn-info" (click)="dividir()">Dividir</button>
    </div>
  </form>
  <p>Resultado: <span>{{resultado}}</span></p>
</div>
