<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de personas</h1>

      <button class="btn btn-secondary" [disabled]='getEstadoBoton()' (click)="agregarPersona()">Agregar Persona</button>

      <p>{{mensaje}}</p>

      <app-persona></app-persona>

      <label>Nombre persona</label>

      <!-- Input de Event Binding
      <input type="text" class="form-control" (input)="modificarTitulo($event)">{{titulo}}-->

      <!-- Input de Two-Binding [()] (Property-Binding + Event-Binding) -->
      <input type="text" class="form-control" [(ngModel)]='titulo'>{{titulo}}
    </div>
  </div>
</div>
