<div class="container">
  <div class="col mt-3">
    <h3>{{titulo}}</h3>
  </div>
  <hr>
  <form>
    <div class="row">
      <div class="form-group col-md-2">
        <label for="nombre" class="visually-hidden">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="nombreInput">
      </div>
      <div class="form-group col-md-2">
        <label for="apellido" class="visually-hidden">Apellido</label>
        <input type="text" name="apellido" id="apellido" placeholder="apellido" class="form-control" [(ngModel)]="apellidoInput">
      </div>
      <button type="submit" class="btn btn-primary form-group col-md-2" (click)="agregarPersona()">Agregar</button>
    </div>
  </form>
  <hr>
</div>
<app-persona *ngFor="let personaElemento of personas; let i = index" [persona] = "personaElemento" [indice]="i"></app-persona>
